.rodapé{
    display:flex;
    text-align: center;
    justify-content: space-around;
    gap: 5rem;
    background-color:#26ade4;
    color:white;
    padding: 2rem;
    margin-top: 3rem;
    display: grid;
    padding-top: 2%;
}
.parent-box{
    display:flex;
    padding:20px 20px 10px 20px;
    background-color: #26ade4;
    font-size: 20px;
    font-family: 'Quicksand', sans-serif;
    color:white;
}

.menu{
    width: 100%;
}

.Nome-rafael{  
    font size:20pt;
    padding-top:3.5%;
    text-align:left;
}

.foto-rafael{
    margin: 10px 10px 10px 10px;
    width: 10%;
    height: 10%; 
}
.section h1{
    align-items: center;
    text-align: center;
    font-size: 2rem;
    font-family: 'Quicksand', sans-serif;
    color:white;

}

body{
    background-color:#24c0eb;
}

.Informacoes-pessoais-negrito{
    margin: 5px 5px 5px 5px;
    font-size: 20px;
    padding: 10px 10px;
    font-family: 'Quicksand', sans-serif;
    text-align: left;
    color:white;
    font-weight: 1000;
    
}

.Informacoes-pessoais{
    margin: 5px 5px 5px 5px;
    font-size: 20px;
    padding: 10px 10px;
    font-family: 'Quicksand', sans-serif;
    text-align: left;
    color:white;
}

.Titulo{
    margin: 5px 5px 5px 5px;
    font-size: 30px;
    padding: 10px 10px;
    font-family: 'Quicksand', sans-serif;
    text-align: left;
    color:white;   
}
