.rodapé{
    display: flex;
    text-align: center;
    justify-content: space-around;
    gap: 5rem;
    background-color:rgb(0, 0, 0);
    color:white;
    padding: 2rem;
    margin-top: 3rem;
    display: grid;
}
.section h1{
    align-items: center;
    text-align: center;
    font-size: 2rem;
}
.Informacoes-pessoais{
    margin: 5px 5px 5px 5px;
    font-size: 20px;
    padding: 10px 10px;
    font-family: 'Quicksand', sans-serif;
    text-align: left;
}
.Titulo{
    margin: 5px 5px 5px 5px;
    font-size: 30px;
    padding: 10px 10px;
    font-family: 'Quicksand', sans-serif;
    text-align: left;
}
.Foto-rafael{
    text-align:left;
}
